URL ： https://rec.ustc.edu.cn/share/00cc9940-aa72-11ec-aa7d-d38daca349cb

## Load data

In [1]:
import duckdb

import pandas as pd

In [2]:
# 创建或连接 DuckDB 数据库
db_path = "data/data.db"
con = duckdb.connect(database=db_path)

# 直接使用 DuckDB 读取 CSV 文件并创建表
print("Loading big matrix...")
con.sql("""
    CREATE TABLE IF NOT EXISTS big_matrix AS 
    SELECT * FROM read_csv_auto('data/big_matrix.csv')
""")

print("Loading small matrix...")
con.sql("""
    CREATE TABLE IF NOT EXISTS small_matrix AS 
    SELECT * FROM read_csv_auto('data/small_matrix.csv')
""")

print("Loading social network...")
con.sql("""
    CREATE TABLE IF NOT EXISTS social_network AS 
    SELECT * FROM read_csv_auto('data/social_network.csv')
""")

print("Loading item features...")
con.sql("""
    CREATE TABLE IF NOT EXISTS item_categories AS 
    SELECT * FROM read_csv_auto('data/item_categories.csv')
""")

print("Loading user features...")
con.sql("""
    CREATE TABLE IF NOT EXISTS user_features AS 
    SELECT * FROM read_csv_auto('data/user_features.csv')
""")

print("Loading items' daily features...")
con.sql("""
    CREATE TABLE IF NOT EXISTS item_daily_features AS 
    SELECT * FROM read_csv_auto('data/item_daily_features.csv')
""")

print("Loading items' caption and category...")
item_caption_category = pd.read_csv("data/kuairec_caption_category.csv",lineterminator="\n")

con.sql("""
    CREATE TABLE IF NOT EXISTS item_caption_category AS 
    SELECT * FROM item_caption_category
""")

print("Data has been successfully loaded into data/data.db")

Loading big matrix...
Loading small matrix...
Loading social network...
Loading item features...
Loading user features...
Loading items' daily features...
Loading items' caption and category...
Data has been successfully loaded into data/data.db

In [3]:
# 获取数据库中所有表名
tables = con.sql("SHOW TABLES").fetchall()
print(f"Tables in {db_path}: {[table[0] for table in tables]}")

# 遍历每个表，展示前五行和总行数
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")

    # 查询前五行
    print("First 5 rows:")
    first_five_rows = con.sql(f"SELECT * FROM {table_name} LIMIT 5").fetchdf()
    print(first_five_rows)

    # 查询总行数
    total_rows = con.sql(f"SELECT COUNT(*) FROM {table_name}").fetchone()[0]
    print(f"Total rows: {total_rows}")

# 关闭数据库连接
con.close()

Tables in data/data.db: ['big_matrix', 'item_caption_category', 'item_categories', 'item_daily_features', 'small_matrix', 'social_network', 'user_features']

Table: big_matrix
First 5 rows:
   user_id  video_id  play_duration  video_duration                    time  \
0        0      3649          13838           10867 2020-07-05 00:08:23.438
1        0      9598          13665           10984 2020-07-05 00:13:41.297
2        0      5262            851            7908 2020-07-05 00:16:06.687
3        0      1963            862            9590 2020-07-05 00:20:26.792
4        0      8234            858           11000 2020-07-05 00:43:05.128

       date     timestamp  watch_ratio
0  20200705  1.593879e+09     1.273397
1  20200705  1.593879e+09     1.244082
2  20200705  1.593879e+09     0.107613
3  20200705  1.593880e+09     0.089885
4  20200705  1.593881e+09     0.078000
Total rows: 12530806

Table: item_caption_category
First 5 rows:
   video_id manual_cover_text  \
0         0           UNKNOWN
1         1           UNKNOWN
2         2           UNKNOWN
3         3           UNKNOWN
4         4      五爱街最美美女 一天1q

                                             caption            topic_tag  \
0                                   精神小伙路难走 程哥你狗粮慢点撒                   []
1                                               None                   []
2                                          晚饭后，运动一下！                   []
3  我平淡无奇，惊艳不了时光，温柔不了岁月，我只想漫无目的的走走，努力发笔小财，给自己买花 自己长大.                   []
4                     #搞笑 #感谢快手我要上热门 #五爱市场 这真是完美搭配啊！  [五爱市场,感谢快手我要上热门,搞笑]

   first_level_category_id first_level_category_name  \
0                        8                        颜值
1                       27                      高新数码
2                        9                        喜剧
3                       26                        摄影
4                        5                        时尚

   second_level_category_id second_level_category_name  \
0                       673                       颜值随拍
1                      -124                    UNKNOWN
2                       727                       搞笑互动
3                       686                       主题摄影
4                       737                       营销售卖

   third_level_category_id third_level_category_name
0                     -124                   UNKNOWN
1                     -124                   UNKNOWN
2                     -124                   UNKNOWN
3                     2434                      景物摄影
4                     2596                        女装
Total rows: 10728

Table: item_categories
First 5 rows:
   video_id     feat
0         0      [8]
1         1  [27, 9]
2         2      [9]
3         3     [26]
4         4      [5]
Total rows: 10728

Table: item_daily_features
First 5 rows:
   video_id      date  author_id video_type  upload_dt  upload_type  \
0         0  20200705       3309     NORMAL 2020-03-30  ShortImport
1         0  20200706       3309     NORMAL 2020-03-30  ShortImport
2         0  20200707       3309     NORMAL 2020-03-30  ShortImport
3         0  20200708       3309     NORMAL 2020-03-30  ShortImport
4         0  20200709       3309     NORMAL 2020-03-30  ShortImport

  visible_status  video_duration  video_width  video_height  ...  \
0         public          5966.0          720          1280  ...
1         public          5966.0          720          1280  ...
2         public          5966.0          720          1280  ...
3         public          5966.0          720          1280  ...
4         public          5966.0          720          1280  ...

   download_cnt  download_user_num report_cnt  report_user_num  \
0             8                  8          0                0
1             2                  2          0                0
2             2                  2          0                0
3             3                  3          0                0
4             2                  2          2                1

   reduce_similar_cnt  reduce_similar_user_num  collect_cnt  collect_user_num  \
0                   3                        3          NaN               NaN
1                   5                        5          NaN               NaN
2                   0                        0          NaN               NaN
3                   3                        3          NaN               NaN
4                   1                        1          NaN               NaN

   cancel_collect_cnt  cancel_collect_user_num
0                 NaN                      NaN
1                 NaN                      NaN
2                 NaN                      NaN
3                 NaN                      NaN
4                 NaN                      NaN

[5 rows x 58 columns]
Total rows: 343341

Table: small_matrix
First 5 rows:
   user_id  video_id  play_duration  video_duration                    time  \
0       14       148           4381            6067 2020-07-05 05:27:48.378
1       14       183          11635            6100 2020-07-05 05:28:00.057
2       14      3649          22422           10867 2020-07-05 05:29:09.479
3       14      5262           4479            7908 2020-07-05 05:30:43.285
4       14      8234           4602           11000 2020-07-05 05:35:43.459

         date     timestamp  watch_ratio
0  20200705.0  1.593898e+09     0.722103
1  20200705.0  1.593898e+09     1.907377
2  20200705.0  1.593898e+09     2.063311
3  20200705.0  1.593898e+09     0.566388
4  20200705.0  1.593899e+09     0.418364
Total rows: 4676570

Table: social_network
First 5 rows:
   user_id friend_list
0     3371      [2975]
1       24      [2665]
2     4402        [38]
3     4295      [4694]
4     7087      [7117]
Total rows: 472

Table: user_features
First 5 rows:
   user_id user_active_degree  is_lowactive_period  is_live_streamer  \
0        0        high_active                    0                 0
1        1        full_active                    0                 0
2        2        full_active                    0                 0
3        3        full_active                    0                 0
4        4        full_active                    0                 0

   is_video_author  follow_user_num follow_user_num_range  fans_user_num  \
0                0                5                (0,10]              0
1                0              386             (250,500]              4
2                0               27               (10,50]              0
3                0               16               (10,50]              0
4                0              122             (100,150]              4

  fans_user_num_range  friend_user_num  ... onehot_feat8  onehot_feat9  \
0                   0                0  ...          184             6
1              [1,10)                2  ...          186             6
2                   0                0  ...           51             2
3                   0                0  ...          251             3
4              [1,10)                0  ...           99             4

  onehot_feat10  onehot_feat11  onehot_feat12  onehot_feat13  onehot_feat14  \
0             3              0              0              0              0
1             2              0              0              0              0
2             3              0              0              0              0
3             2              0              0              0              0
4             2              0              0              0              0

   onehot_feat15  onehot_feat16  onehot_feat17
0              0              0              0
1              0              0              0
2              0              0              0
3              0              0              0
4              0              0              0

[5 rows x 31 columns]
Total rows: 7176